/* search bar fix for bug caused by Plausible tracker widget covering with invisible divs */
.um-page-members #block-8, .um-page-members #block-9 {
  display: none;
}

.page-id-144 #post-144 .post-item-iframe h2 a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.page-id-144 #post-144 .post-item-iframe .byline-iframe,
.page-id-144 #post-144 .post-item-iframe .river-date {
  font-size: 12px;
  font-weight: 400;
  color: black;
  margin-bottom: 5px;
}
.page-id-144 a {
  text-decoration: none;
  color: #000;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
}

.page-id-176 #post-176 .post-item-iframe h2 a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.page-id-176 #post-176 .post-item-iframe .byline-iframe,
.page-id-176 #post-176 .post-item-iframe .river-date {
  font-size: 12px;
  font-weight: 400;
  color: black;
  margin-bottom: 5px;
}
.page-id-176 a {
  text-decoration: none;
  color: #000;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
}

.page-id-238 .col-full,
.page-id-240 .col-full {
  max-width: 656px;
  border: 0px;
  box-shadow: none;
}
.page-id-238 .entry-content a,
.page-id-240 .entry-content a {
  text-decoration: none;
  color: #000;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.page-id-238 .entry-content .byline-all a,
.page-id-240 .entry-content .byline-all a {
  font-size: 16px;
  color: #6e6e6e;
}

.page-id-1757 #post-1757 .post-item-iframe .byline-all,
.page-id-1757 #post-1757 .post-item-iframe .river-date {
  font-size: 12px;
  font-weight: 400;
  color: black;
  margin-bottom: 5px;
}
.page-id-1757 .column1,
.page-id-1757 .column2 {
  max-width: 362px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.3294117647);
}
.page-id-1757 a {
  font-size: 16px;
  color: #6e6e6e;
}

/*styling for briefs and offers 
.page-id-144 #post-144 .post-item-iframe h2 a, .page-id-176 #post-176 .post-item-iframe h2 a, .page-id-1757 #post-1757 .post-item-iframe h2 a {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
}
.page-id-176 #post-176 .post-item-iframe .byline-iframe, .page-id-176 #post-176 .post-item-iframe .river-date, .page-id-144 #post-144 .post-item-iframe .byline-iframe, .page-id-144 #post-144 .post-item-iframe .river-date, .page-id-1757 #post-1757 .post-item-iframe .byline-iframe, .page-id-1757 #post-1757 .post-item-iframe .river-date  {
	font-size: 12px;
	font-weight: 400;
	color: black;
	margin-bottom: 5px;
}

.page-id-1757 .column1, .page-id-1757 .column2 {
	max-width: 362px;
	float: left;
	border: 1px solid #00000054;
}

.page-id-238 .col-full, .page-id-240 .col-full {
	max-width: 656px;
	border: 0px;
	box-shadow: none;
}
.page-id-238 .entry-content a, .page-id-240 .entry-content a, .page-id-144 a, .page-id-176 a, .page-id-1757 a {
	text-decoration: none;
	color: #000;
	margin-top: 5px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.page-id-238 .entry-content .byline-all a, .page-id-240 .entry-content .byline-all a, .page-id-144 a, .page-id-176 a, .page-id-1757 a {
  	font-size: 16px;
	color: #6e6e6e;
}
*/
/* post list styling */
.post-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas: "date header" "byline" "pic body";
  clear: both;
  padding-bottom: 16px;
  padding-top: 16px;
  overflow: hidden;
  list-style: none;
  border-bottom: solid #e1e1e1 1px;
  font-family: Lusitana, serif;
}
.post-item .river-date {
  float: left;
  width: 150px;
  height: auto;
  margin-bottom: 5px;
  padding: 2px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-family: "Open sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
}
.post-item .time {
  padding-bottom: 0;
  font-family: "Open sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
}
.post-item a:first-of-type {
  grid-area: 3/1;
}
.post-item img {
  float: left;
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid #e1e1e1;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  margin-top: -33px;
}
.post-item h2 {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.post-item h2 a {
  grid-area: 2/1;
}
.post-item p {
  margin-left: 10px;
  padding-top: 0;
  grid-area: 3/2;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  overflow: hidden;
}
.post-item .byline-all {
  grid-area: 2/2;
  margin-left: 11px;
}

/* post list styling iframe   -Depreciated? 6/21/23-
.page-template-blank-slate-template #wpadminbar {
	display: none;
}
html {
	margin-top: 0px !important;
}
.post-iframe {
	margin-bottom: -75px;
}
.columns1{
	background-color: white;
}
.columns2 {
  margin: 0;
  overflow-x: hidden;
	width: 714px !important;
	background-color: white;
}
.wrapper-ul{
	padding-left: 0px;
	margin-top: -5px;
	margin-left: -3px;
}
.wrapper-iframe {
	box-sizing: initial;
  	padding-left: -3px;
	height: 625px;
	overflow: hidden;
	width: 364px !important;
	background-color: white;

}
.wrapper-iframe-multiCol2{
	width: 714px !important;
	background-color: white;
	color: #43454b;
    font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.618;
    text-rendering: optimizeLegibility;
    font-weight: 400;

}

.wrapper-iframe-multiCol2 .column1, .wrapper-iframe-multiCol2 .column2 {
max-width: 354px;
float: left;
border: 1pt solid #00000054;
}

.post-item-iframe {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 117px 238px;
	grid-template-rows: auto;
	gap: 0px 0px;
  grid-template-areas:
    "image text";
	overflow: hidden;
	list-style: none;
	font-family: Lusitana,serif;
	height: 128px;
}
.post-item-iframe .thumbnail-iframe {
	grid-area: image;
	max-height: 100px;
	max-width: 100px;
	margin: 5px;
}
.post-item .text-iframe {
		grid-area: text;
}

.post-item-iframe img {
	max-height: 100px;
	max-width: 100px;
	object-fit: contain;
}
.post-item-iframe h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
}
.wrapper-iframe #wrapper-iframe .post-item-iframe h2 a  {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
		color: #6e6e6e;
		text-decoration: none;
	}
.post-item-iframe h2 a, .post-item-iframe h2 a .headline-iframe, .wrapper-iframe-multiCol2 .column1 h2 a, .wrapper-iframe-multiCol2 .column2 h2 a  {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	color: #6e6e6e;
	text-decoration: none;
}

.post-item-iframe .byline-iframe,  .post-item-iframe .river-date {
    font-size: 12px;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
}
.post-item-iframe .date {
	  grid-area: date;
}
hr {
	margin-top: -5px;
	margin-bottom: 3px !important;
}

*/
/* classifieds styling */
.classifiedWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.classDisplayAd, .classLinerAd {
  width: 300px;
  margin-bottom: 30px;
  height: 300px;
}

.classLinerAd {
  padding: 15px;
  border: 3px solid black;
  padding: 15px;
  border-radius: 3px;
}

.classLinerAd a {
  text-decoration: none !important;
  color: black;
  font-weight: 800;
}

.classifiedIntructions {
  border: 3px solid black;
  padding: 15px;
  margin: 15px 42px;
  color: black;
}

/*
.page-id-559 .entry-title {
	margin: 15px;
}
*/
.classifiedsNextButton a, .classifiedsPreviousButton a {
  background: linear-gradient(to bottom, #f68e1f 5%, #f0b06c 100%);
  background-color: #f68e1f;
  border-radius: 28px;
  border: 1px solid #f5bb7d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 17px;
  text-decoration: none;
}

.classifiedsNextButton:hover a, .classifiedsPreviousButton:hover a {
  background: linear-gradient(to bottom, #f0b06c 5%, #f68e1f 100%);
  background-color: #f0b06c;
}

.classifiedsNextButton:active a, .classifiedsPreviousButton:active a {
  position: relative;
  top: 1px;
}

.classifiedsNextButton a {
  float: right;
  margin-right: 42px;
}

.classifiedsPreviousButton a {
  float: left;
  margin-left: 42px;
}

nav .classifiedsNextButton a, nav .classifiedsPreviousButton a {
  text-decoration: none !important;
  color: white;
}

.page-id-559 article {
  margin-bottom: -42px;
}

#comments {
  display: none;
}

.storefront-handheld-footer-bar .cart {
  display: none;
}

/*biz profile submit button stylings */
.page-id-13 .um-col-alt {
  box-shadow: 1px 6px 9px 2px #50575e;
  bottom: -45px;
  position: fixed;
  left: 75%;
  transform: translateX(-50%);
  padding: 26px;
  background-color: #eaeaea;
  border-radius: 12px;
  width: 320px;
  height: 78px;
  display: flex;
  flex-direction: row;
  display: grid;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: -32px 0px;
  grid-template-areas: ". .";
  justify-items: center;
  z-index: 100000;
}

.page-id-13 .um-col-alt .um-left input {
  background: #f68f1f;
  width: unset !important;
}

.page-id-13 .um-col-alt .um-right a {
  background-color: #666666;
  color: white;
  width: unset !important;
}

.page-id-13 .um-col-alt .um-right, .page-id-13 .um-col-alt .um-left {
  width: unset !important;
}

/* -Intended to fix an issue with the Phone Numbers on the BisMember Profile- */
.um-page-user .um-viewing [data-key^=phone_number_label] {
  margin: 15px 5px 8px 0;
  border-bottom: solid 2px #eee;
  padding-top: 0px;
  padding-bottom: 4px;
}
.um-page-user .um-viewing [data-key^=phone_number_label]::before {
  display: inline-block;
  content: "\f095";
  font-family: sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;
  height: 22px;
  width: 24px;
  text-align: center;
}
.um-page-user .um-viewing [data-key^=phone_number_label] .um-field-area {
  font-size: 15px !important;
  line-height: 22px !important;
  font-weight: bold;
  font-weight: 600;
}

/*
.um-page-user .um-viewing [data-key^='phone_number_label'] {
	margin: 0 5px 8px 0;
	border-bottom: solid 2px #eee;
	padding-bottom: 4px;
}
.um-page-user .um-viewing [data-key^='phone_number_label']::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f095";
    font-size: 21px;
    line-height: 22px;
    margin: 0 1px 0 0;
    float: left;
    margin: 0 8px 0 0;
    height: 22px;
    line-height: 18px;
    display: inline-block;
    width: 24px;
    text-align: center;
}
.um-page-user .um-viewing [data-key^='phone_number_label'] .um-field-area {
  font-size: 15px !important;
    line-height: 22px !important;
    font-weight: bold;
    font-weight: 600;
}
.um-page-user .um-viewing [data-key^='phone_number'] {
    padding-top: 0;
	margin-top: 15px;
}
*/
/* -Figure out what this does!-
.um-editing .um-col-1 {
    border: 2px solid #d1d1d1;
    margin-top: 25px;
    padding: 5px 24px 25px 10px;
	  border-radius: 5px;
	  box-shadow: 1px 4px 7px 2px #8f8f9759;
}
.um-editing .um-col-1 .um-field-image .um-field-area {
    border: 2px solid #d1d1d1;
    margin-top: 25px;
    padding: 20px 24px 5px 10px;
	  border-radius: 5px;
}
*/
/* add shadows to biz listing cards 
.um-member {
	box-shadow: 7px 8px 15px 0px #4a464691;
}
*/
/* hide titles and gap 
.entry-title {
	display: none;
}

.header-widget-region {
	margin-bottom: 119px;
}
#content {
	margin-top: -73px;
}
#main {
	margin-top: 24px;
}
.storefront-breadcrumb {
	display: none;
}
.single .entry-title {
	display: initial !important;
}
*/
/* brief/offer styling: serif text, bigger text on body, text-color: black, serif headlines 

.single-offer,
.single-brief {
    font-family: serif;
    margin-bottom: 1px !important;

    .has-text-align-center {
        color:black;
        font-size: 1.2em;
    }
    figcaption {
        color: black;
    }
}
*/
/*
.single-offer .entry-header, .single-brief .entry-header {
	margin-bottom: 1px !important;
}

.single-offer .entry-header, .single-brief .entry-header {
  font-family: serif;
}

.single-offer .has-text-align-center, .single-brief .has-text-align-center {
	font-family: serif;
	color: black;
	font-size: 1.2em
}
.single-offer figcaption, .single-brief figcaption {
	color: black;
	font-family: serif;
}
*/

/*# sourceMappingURL=shortCodes.css.map */
