.wp-admin .post-item {
    list-style: none;
    width: 50%;
    border: 1px solid #605c5c6b;
    padding: 10px;
    box-shadow: 1px 2px 4px 0px #3431313d;
}
.wp-admin .river-date {
    float: right;
    margin-top: 10px;
}
.wp-admin .post-item img {
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.wp-admin .notpublished {
  color: #ff3434;
}

#wpadminbar #wp-admin-bar-vs-manage-posts .dashicons-category:before {
  font: normal 18px/1 dashicons;
  content: '\f318';
  position: relative;
  float: left;
  speak: never;
  padding: 7px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osz-font-smoothing: grayscale;
  background-image: none !important;
  margin-right: 7px;
}
